services:
  mysql:
    hostname: mysql
    image: mysql:latest
    environment:
      - TZ=America/Recife
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql-root-password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER_FILE=/run/secrets/mysql-user
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql-user-password
    volumes:
      - mysql_data:/var/lib/mysql
    secrets:
      - mysql-user
      - mysql-user-password
      - mysql-root-password

  nextcloud:
    hostname: nextcloud
    image: nextcloud/all-in-one:latest
    ports:
    - "80:80"
    - "8080:8080"
    - "3478:3478"
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - nextcloud_config:/var/www/html/config
      - nextcloud_data:/var/www/html/data
    environment:
      - TZ=America/Recife
      - MYSQL_DB=nextcloud
      - MYSQL_USER_FILE=/run/secrets/mysql-user
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql-user-password
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql-root-password
      - NEXTCLOUD_ADMIN_USER_FILE=/run/secrets/nextcloud-admin-user
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud-admin-password
    secrets:
      - mysql-user
      - mysql-user-password
      - nextcloud-admin-user
      - nextcloud-admin-password
      - mysql-root-password

secrets:
  mysql-user:
    external: true
  mysql-user-password:
    external: true
  nextcloud-admin-user:
    external: true
  nextcloud-admin-password:
    external: true
  mysql-root-password:
    external: true
volumes:
  mysql_data:
   name: mysql_data
  nextcloud_data:
   name: nextcloud_data
  nextcloud_config:
   name: nextcloud_config
  nextcloud_aio_mastercontainer:
   name: nextcloud_aio_mastercontainer
   