[Unit]
Description=LanguageTool Server Container

[Service]
Environment="Image=quay.io/tiol4u/languagetool-server:latest" "Container=LanguageTool-Server"
Restart=always
ExecStart=podman run --name ${Container} --publish 8081:8081 ${Image}
ExecStop=podman stop -t 2 ${Container}
TimeoutStartSec=300
TimeoutStopSec=5
After=multi-user.target

[Install]
WantedBy=network.target
